$main-color: #40271E;
$secondary-color: #8C5D42;
$accent-color: #D97F11;
$gray: #D9D7CC;
$brown: #400E17;
$white: #f3f3f3;
$black: #262526;

$Open-Sans: "https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic";
$Source-Sans: "https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic";